In [26]:
# Mouting the google drive, and imported all necessary libraries to perform calculations
%cd /content/drive/MyDrive/DEGA_INLS625
import pandas as pd
import numpy as np
import scipy.stats as st

/content/drive/MyDrive/DEGA_INLS625

In [27]:
# An excel csv file with rows(from the powerpoint) transposed as coloumns was created.
# The data frame was assigned to the csv file created.
df = pd.read_csv("Dega_Class1_INLS625_exe.csv")
df.head(30)

      COL1    COL2    COL3  COL4
0     33.0    65.0  5435.0   555
1      5.0    53.0   234.0   435
2    453.0   485.0   398.0     1
3     33.0    65.0  5435.0   555
4      5.0    53.0   234.0   435
5    453.0   485.0   398.0     1
6     21.0    65.0   398.0     3
7     67.0   453.0   534.0    54
8    657.0  7895.0   234.0     6
9   3425.0    24.0    65.0     4
10    65.0    65.0    78.0     5
11    21.0   531.0    66.0    87
12    33.0    24.0   534.0   943
13    44.0   755.0   456.0     6
14   634.0   342.0   234.0     3
15   543.0    32.0    54.0    45
16  2345.0     1.0   534.0     1
17   697.0    65.0    56.0    45
18     NaN    99.0    34.0    55
19     NaN     NaN    77.0     2
20     NaN     NaN     NaN     7
21     NaN     NaN     NaN     8
22     NaN     NaN     NaN     9
23     NaN     NaN     NaN   700
24     NaN     NaN     NaN    76
25     NaN     NaN     NaN    45

In [28]:
# using fillna to replace "NaN" values to smothen calculations
df = df.fillna(0)
df

      COL1    COL2    COL3  COL4
0     33.0    65.0  5435.0   555
1      5.0    53.0   234.0   435
2    453.0   485.0   398.0     1
3     33.0    65.0  5435.0   555
4      5.0    53.0   234.0   435
5    453.0   485.0   398.0     1
6     21.0    65.0   398.0     3
7     67.0   453.0   534.0    54
8    657.0  7895.0   234.0     6
9   3425.0    24.0    65.0     4
10    65.0    65.0    78.0     5
11    21.0   531.0    66.0    87
12    33.0    24.0   534.0   943
13    44.0   755.0   456.0     6
14   634.0   342.0   234.0     3
15   543.0    32.0    54.0    45
16  2345.0     1.0   534.0     1
17   697.0    65.0    56.0    45
18     0.0    99.0    34.0    55
19     0.0     0.0    77.0     2
20     0.0     0.0     0.0     7
21     0.0     0.0     0.0     8
22     0.0     0.0     0.0     9
23     0.0     0.0     0.0   700
24     0.0     0.0     0.0    76
25     0.0     0.0     0.0    45

In [29]:
# .describe gives a snapshot of all mean,min,max for all the coloums in data frame
df.describe()

              COL1        COL2         COL3        COL4
count    26.000000    26.00000    26.000000   26.000000
mean    366.692308   444.50000   595.692308  157.153846
std     794.308140  1534.63049  1437.189056  265.127244
min       0.000000     0.00000     0.000000    1.000000
25%       0.000000     0.25000    39.000000    4.250000
50%      33.000000    59.00000   156.000000   27.000000
75%     453.000000   281.25000   398.000000   84.250000
max    3425.000000  7895.00000  5435.000000  943.000000

In [30]:
# Clculating Mean,mode,median,max & min using libraries for row_1
df.COL1.mean()

366.6923076923077

In [82]:

data_without0 = df[df != 0]
data_without0
print("row_1 mean:",df.COL1.mean())
print("row_1 mode:",data_without0.COL1.mode())
print("row_1 median:",df.COL1.median())
print("row_1 max:",df.COL1.max())
print("row_1 min:",data_without0.COL1.min())

row_1 mean: 366.6923076923077
row_1 mode: 0    33.0
Name: COL1, dtype: float64
row_1 median: 33.0
row_1 max: 3425.0
row_1 min: 5.0

In [84]:
from collections import Counter
# Mathemetical way for mean @ row_1
# assigning a data frame called df_1 to the coloumn 1
df_1 = data_without0.iloc[:,0]
mean_1 = sum(df_1)/len(df_1)
mean_1
# Mathemetical way for mode @ row_1
df1_list = list(df_1)
df1_list
frequency1 = Counter(df1_list)
frequency1
# for loops
for num,count in frequency1.items():
  if count == max(frequency1.values()):
    print("num in list:",num,"frequency of the number:",count,"row_1 mode:",num)

num in list: 33.0 frequency of the number: 3 row_1 mode: 33.0

In [77]:
frequency1.values()
frequency1.items()

dict_items([(33.0, 3), (5.0, 2), (453.0, 2), (21.0, 2), (67.0, 1), (657.0, 1), (3425.0, 1), (65.0, 1), (44.0, 1), (634.0, 1), (543.0, 1), (2345.0, 1), (697.0, 1), (nan, 1), (nan, 1), (nan, 1), (nan, 1), (nan, 1), (nan, 1), (nan, 1), (nan, 1)])

In [80]:
# Clculating Mean,mode,median,max & min using libraries for row_2
print("row_2 mean:",df.COL2.mean())
print("row_2 mode:",data_without0.COL2.mode())
print("row_2 median:",df.COL2.median())
print("row_2 max:",df.COL2.max())
print("row_2 min:",data_without0.COL2.min())

row_1 mean: 444.5
row_1 mode: 0    65.0
Name: COL2, dtype: float64
row_1 median: 59.0
row_1 max: 7895.0
row_1 min: 1.0

In [90]:
from collections import Counter
# Mathemetical way for mean @ row_2
# assigning a data frame called df_2 to the coloumn 2
df_2 = data_without0.iloc[:,1]
mean_2 = sum(df_2)/len(df_2)
mean_2
# Mathemetical way for mode @ row_2
df2_list = list(df_2)
df2_list
frequency2 = Counter(df2_list)
frequency2
# for loops
for num,count in frequency2.items():
  if count == max(frequency2.values()):
    print("num in list:",num,"frequency of the number:",count,"row_2 mode:",num)

num in list: 65.0 frequency of the number: 5 row_2 mode: 65.0

In [86]:
# Clculating Mean,mode,median,max & min using libraries for row_3
print("row_3 mean:",df.COL3.mean())
print("row_3 mode:",data_without0.COL3.mode())
print("row_3 median:",df.COL3.median())
print("row_3 max:",df.COL3.max())
print("row_3 min:",data_without0.COL3.min())

row_3 mean: 595.6923076923077
row_3 mode: 0    234.0
Name: COL3, dtype: float64
row_3 median: 156.0
row_3 max: 5435.0
row_3 min: 34.0

In [91]:
# Mathemetical way for mean @ row_3
# assigning a data frame called df_3 to the coloumn 3
df_3 = data_without0.iloc[:,2]
mean_3 = sum(df_3)/len(df_3)
mean_3
# Mathemetical way for mode @ row_3
df3_list = list(df_3)
df3_list
frequency3 = Counter(df3_list)
frequency3
# for loops
for num,count in frequency3.items():
  if count == max(frequency3.values()):
    print("num in list:",num,"frequency of the number:",count,"row_2 mode:",num)

num in list: 234.0 frequency of the number: 4 row_2 mode: 234.0

In [88]:
# Clculating Mean,mode,median,max & min using libraries for row_4
print("row_4 mean:",df.COL4.mean())
print("row_4 mode:",data_without0.COL4.mode())
print("row_4 median:",df.COL4.median())
print("row_4 max:",df.COL4.max())
print("row_4 min:",data_without0.COL4.min())

row_4 mean: 157.15384615384616
row_4 mode: 0     1
1    45
Name: COL4, dtype: int64
row_4 median: 27.0
row_4 max: 943
row_4 min: 1

In [95]:
# Mathemetical way for mean @ row_4
# assigning a data frame called df_4 to the coloumn 4
df_4 = data_without0.iloc[:,3]
mean_4 = sum(df_4)/len(df_4)
mean_4
# Mathemetical way for mode @ row_4
df4_list = list(df_4)
df4_list
frequency4 = Counter(df4_list)
frequency4
# for loops
for num,count in frequency4.items():
  if count == max(frequency4.values()):
    print("num in list:",num,"frequency of the number:",count,"row_4 mode:",num,"The row_4 is Bi-model")

num in list: 1 frequency of the number: 3 row_4 mode: 1 The row_4 is Bi-model
num in list: 45 frequency of the number: 3 row_4 mode: 45 The row_4 is Bi-model